
.form-section {
  background-color: #F6F7F9;
  padding: 40px 0;
  &__subtitle {
    max-width: 250px;
    color: #1B5AD9;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    margin: 0 auto;
  }

  &__title {
    color: #333547;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__text {
    margin: 20px 0;
  }

  &__l-block {
    margin-bottom: 40px;
  }

  @media only screen and (min-width: 768px) {
    padding: 80px 0;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__l-block {
      text-align: left;
      max-width: 460px;
      padding-right: 40px;
      margin: 0;
    }
    &__r-block {
      max-width: 560px;
      flex-basis: 560px;
    }

    &__title {
      font-size: 40px;
      line-height: 50px;
    }
  }
}


.register-form {
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 20px 40px 0 rgba(50,51,57,0.08);
  padding: 40px 20px;
  text-align: left;

  &__label {
    margin-bottom: 20px;
    color: #424559;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    display: block;
  }

  &__input {
    width: calc(100% - 30px);
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    margin: 5px 0;
    padding: 11px 14px;
    color: #424559;
    font-family: Roboto;
    line-height: 24px;
    height: 24px;
    &:active, &:focus {
      border: 1px solid #2572DE;
      outline: none;
    }
  }
  &__label.invalid-input {
    margin-bottom: 10px;
    .register-form__input {
      border: 1px solid #D9232E;
      background-color: #FFF5F5;
    }
    .register-form__error-msg {
      display: block;
    }
  }
  &__error-msg {
    display: none;
    color: #D9232E;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
  }

  &__submit {
    background-color: #2572DE;
    border: none;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 10px;
    width: 100%;
    border-radius: 28px;
    margin-top: 40px;
    white-space: normal;
    cursor: pointer;
    &:hover {
      background-color: #1F61BC;
    }
  }

  &__terms {
    margin-top: 20px;
  }
  &__terms-checkbox {
    visibility: hidden;
    width: 0;
  }

  &__terms-label {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    vertical-align: top;
    color: #237dea;
    margin-top: 5px;
    cursor: pointer;
  }

  &__terms-checkbox + &__terms-label:active, &__terms-checkbox:checked + &__terms-label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }

  &__terms-checkbox:checked + &__terms-label {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  }

  &__terms-checkbox:checked + &__terms-label:after {
    content: '\2713';
    font-size: 13px;
    position: absolute;
    top: 3px;
    left: 5px;
    font-weight: bold;
  }

  &__terms-text {
    margin: 0 0 0 15px;
    width: calc(100% - 50px);
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: #787A97;
  }

  &__terms-link {
    color: #1B5AD9;
    text-decoration: underline;
    color: #237dea;
    &:hover {
      text-decoration: none;
    }
  }


  @media only screen and (min-width: 768px) {
    padding: 40px;
  }

  &__country-label {
    color: #424559;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    display: block;
  }

   &__multi-label {
     @extend .register-form__country-label;
    margin-top: 20px;
   }
  .select2-container {

    .select2-selection.select2-selection--single, .select2-selection.select2-selection--multiple {
      border: 1px solid #DFE3EB;
      border-radius: 4px;
      margin-top: 5px;
      min-height: 48px;
      .select2-selection__rendered {
        padding-left: 14px;
        color: #424559;
        font-weight: 400;
        font-size: 16px;
        line-height: 48px;
        .select2-selection__placeholder {
          font-size: 16px;
        }
      }
      .select2-selection__arrow {
        height: 100%;
        background: url('../../assets/icons/arrow-down.svg') no-repeat center;
        top: 2px;
        right: 10px;
        b {
          display: none;
        }
      }
    }
  }
  .select2-container.select2-container--focus {
    .select2-selection.select2-selection--single, .select2-selection.select2-selection--multiple {
      border: 1px solid #2572DE;
      outline: none;
    }
  }
  .select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
    transform: rotate(180deg);
  }

  .select2-container {
    .select2-selection.select2-selection--multiple {
      .select2-selection__rendered {
        line-height: 30px;
        margin-top: 1px;
        padding-left: 6px;
        .select2-search--inline {
          margin-left: 8px;
          .select2-search__field {
            color: #424559;
            margin-top: 14px;
          }
        }
        .select2-selection__choice + .select2-search--inline {
          margin-left: -4px;
        }
        .select2-selection__choice {
          border-radius: 3px;
          background-color: #F1F2F4;
          padding: 8px 36px 8px 20px ;
          color: #424559;
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          border: none;
          position: relative;
          height: 36px;
          margin-right: 10px;
          box-sizing: border-box;
          .select2-selection__choice__remove {
            position: absolute;
            top: 8px;
            right: 8px;
            color: #8B8FA7;
            font-size: 19px;
            font-weight: 500;
            &:hover {
              color: #2072E1;
            }
          }
        }
      }
    }
  }

}

.select2-dropdown {
  border: 1px solid #DFE3EB;
  border-radius: 4px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #DFE3EB;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
  color: #424559;
  &:focus, &:active {
    border: 1px solid #2572DE;
    outline: none;
  }
}
.select2-results__option {
  padding: 8px 14px;
  font-size: 16px;
  color: #424559;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #2572DE;
}