
.form-section {
  background-color: #F6F7F9;
  padding: 40px 0;
  &__subtitle {
    max-width: 250px;
    color: #1B5AD9;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    margin: 0 auto;
  }

  &__title {
    color: #333547;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__text {
    margin: 20px 0;
  }

  &__l-block {
    margin-bottom: 40px;
  }

  @media only screen and (min-width: 768px) {
    padding: 80px 0;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__l-block {
      text-align: left;
      max-width: 460px;
      padding-right: 40px;
      margin: 0;
    }
    &__r-block {
      max-width: 560px;
      flex-basis: 560px;
    }

    &__title {
      font-size: 40px;
      line-height: 50px;
    }
  }
}


.register-form {
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 20px 40px 0 rgba(50,51,57,0.08);
  padding: 40px 20px;
  text-align: left;

  &__label {
    margin-bottom: 20px;
    color: #424559;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    display: block;
  }

  &__input {
    width: calc(100% - 30px);
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    margin: 5px 0;
    padding: 11px 14px;
    color: #424559;
    font-family: Roboto;
  }
  &__label.invalid-input {
    margin-bottom: 10px;
    .register-form__input {
      border: 1px solid #D9232E;
      background-color: #FFF5F5;
    }
    .register-form__error-msg {
      display: block;
    }
  }
  &__error-msg {
    display: none;
    color: #D9232E;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
  }

  &__submit {
    background-color: #2572DE;
    border: none;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 10px;
    width: 100%;
    border-radius: 28px;
    margin-top: 40px;
    white-space: normal;
  }


  &__terms-checkbox {
    visibility: hidden;
    width: 0;
  }

  &__terms-label {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    vertical-align: top;
    color: #237dea;
    margin-top: 5px;
    cursor: pointer;
  }

  &__terms-checkbox + &__terms-label:active, &__terms-checkbox:checked + &__terms-label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }

  &__terms-checkbox:checked + &__terms-label {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  }

  &__terms-checkbox:checked + &__terms-label:after {
    content: '\2713';
    font-size: 13px;
    position: absolute;
    top: 3px;
    left: 5px;
    font-weight: bold;
  }

  &__terms-text {
    margin: 0 0 0 15px;
    width: calc(100% - 50px);
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: #787A97;
  }

  &__terms-link {
    color: #1B5AD9;
    text-decoration: underline;
    color: #237dea;
    &:hover {
      text-decoration: none;
    }
  }

  &__chosen-select-label {
    @extend .register-form__label;
    margin: 0;
  }

  &__country-select + .chosen-container-single .chosen-single div b {
    background: url('../../assets/icons/path.svg') no-repeat center left;
  }
  &__country-select + .chosen-container-active.chosen-with-drop .chosen-single div b {
    transform: rotate(180deg) translateX(50%);
  }
  &__country-select + .chosen-container-single .chosen-single {
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    padding: 11px 14px;
    color: #424559;
    font-family: Roboto;
    height: auto;
    font-size: 16px;
    background: #fff;
    color: #424559;
    box-shadow: none !important;
  }
  &__country-select + .chosen-container-single {
    margin: 5px 0 20px;
  }
  &__country-select + .chosen-container-single .chosen-search input[type=text] {
    font-size: 16px;
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    font-family: Roboto;
    color: #424559;
    background: none;
  }
  &__country-select + .chosen-container .chosen-results li.active-result.highlighted {
    background: none;
    background-color: #F1F2F4;
  }
  &__country-select + .chosen-container .chosen-results li.active-result {
    font-size: 16px;
    line-height: 20px;
    font-family: Roboto;
    color: #424559;
  }
  &__country-select + .chosen-container .chosen-drop {
    border: 1px solid #DFE3EB;
    margin-top: -3px;
    padding: 0 5px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &__multi-select + .chosen-container .chosen-results li.active-result.highlighted {
    background: none;
    background-color: #F1F2F4;
  }
  &__multi-select + .chosen-container .chosen-results li.active-result {
    font-size: 16px;
    line-height: 20px;
    font-family: Roboto;
    color: #424559;
  }
  &__multi-select + .chosen-container-multi .chosen-drop .result-selected {
    font-size: 16px;
    line-height: 20px;
    font-family: Roboto;
  }
  &__multi-select + .chosen-container .chosen-drop {
    border: 1px solid #DFE3EB;
    margin-top: -3px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 0 5px;
  }

  &__multi-select + .chosen-container-multi {
    margin: 5px 0 20px;
  }

  &__multi-select + .chosen-container-multi .chosen-choices {
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    padding: 5px 14px;
    color: #424559;
    height: auto;
    font-size: 16px;
    background: #fff;
    color: #8B8EA7;
    min-height: 48px;
    box-shadow: none !important;
  }
  &__multi-select + .chosen-container-multi .chosen-choices li.search-field input[type=text] {
    font-family: Roboto;
    margin-top: 5px;
  }
  &__multi-select + .chosen-container-multi .chosen-choices li.search-choice {
    background: #F1F2F4;
    border-radius: 3px;
    color: #424559;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    border: none;
    padding: 8px 36px 8px 20px;
    margin-top: 0;
    margin-bottom: 0;
    .search-choice-close {
      background: url('../../assets/icons/icon-cross.svg') no-repeat center;
      top: 8px;
      right: 6px;
      width: 20px;
      height: 20px;
      &:hover {
        background: url('../../assets/icons/icon-cross -blue.svg') no-repeat center;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    padding: 40px;
  }
}