@import './common.scss';
@import './top-section.scss';
@import './second-section.scss';
@import './form-section.scss';
@import './last-section.scss';

body {
  font-family: Roboto, sans-serif;
  position: relative;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

a {
  text-decoration: none;
}
