
.second-section {
  &__bg-wrapper {
    margin: auto;
    background-image: url('../../assets/images/bg-2.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }

  &__container {
    padding: 40px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__subtitle {
    max-width: 560px;
    color: #333547;
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    margin: 0 0 20px;
  }

  &__text {
    max-width: 760px;
    margin: 0 0 20px
  }

  &__scroll-btn {
    margin-top: 20px;
  }

  &__r-block {
    margin-bottom: 100px;
  }

  @media only screen and (min-width: 768px) {
    &__bg-wrapper {
      background-position: top left;
      background-size: auto 85%;
    }
    &__container {
      padding: 100px 0 84px;
    }

    &__r-block {
      align-self: flex-end;
      margin-right: 56px;
      margin-bottom: 228px;
    }
  }
}


.r-block {
  max-width: 500px;
  text-align: center;

  &__title {
    color: #333547;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
  }

  &__text {
    margin: 20px 0 40px;
    max-width: 490px;
  }

  &__table {
    max-width: 460px;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.05);
    text-align: center;
    padding-bottom: 10px;
  }

  &__table-row {
    display: flex;
    align-items: center;
    margin: 0;
    height: 40px;
    font-size: 16px;
  }

  &__table-l-col {
    flex-basis: 50%;
    color: #333547;
  }
  &__table-r-col {
    @extend .r-block__table-l-col;
    color: #787A97;
  }
  
  &__table-header {
    height: 50px;
    background-color: #2072E1;
    margin: 0;
    color: #fff;
    font-size: 16px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    line-height: 50px;
    margin-bottom: 10px;
    display: flex;
    span {
      flex-basis: 50%;
    }
  }

  &__additional-text {
    color: #333547;
    font-size: 16px;
    line-height: 19px;
    margin: 20px 0 0;
  }
  @media only screen and (min-width: 768px) {
    text-align: left;
    &__title {
      font-size: 40px;
      line-height: 47px;
    }
  }
}