
.top-section {

  &__bg-wrapper {
    margin: auto;
    background-image: url('../../assets/images/bg-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__container {
    min-height: 100vh;
    padding: 40px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__subtitle {
    max-width: 250px;
    color: #1B5AD9;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    margin: 0 auto;
  }

  &__title {
    color: #424559;
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    margin: 10px 0 20px;
  }

  @media only screen and (min-width: 768px) {
    &__bg-wrapper {
      background-position: top right;
      background-size: auto 80%;
      height: 100vh;
      display: flex;
    }
    &__container {
      align-items: flex-start;
      flex-basis: 100%;
    }
    &__wrapper {
      max-width: 556px;
      text-align: left;
    }

    &__subtitle {
      margin: 0;
    }
    &__title {
      font-size: 50px;
      line-height: 58px;
    }
    &__text {
      max-width: 500px;
    }
    &__scroll-btn {
      align-self: center;
    }
  }
}
